.aboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $gap;
    align-items: center;

    >* {
        box-shadow: $box-shadow;
    }

    .about-us__paragraph {
        background: $blur-background;
        backdrop-filter: $blur;
        display: block;
        font-size: $heading-text-2;
        line-height: 28px;
        padding: $gap;
        border-radius: $border-radius;
    }
    .about-us__image {
        border-radius: $border-radius;
        display: block;
        width: 100%;
    }
}
