.aboutUs {
    display: flex;
    flex-direction: column;

    >* {
        box-shadow: $box-shadow;
    }
    .aboutUs__article {
        background: $blur-background;
        backdrop-filter: $blur;
        padding: $gap;
        border-radius: $border-radius;
        margin-bottom: 16px;

        display: grid;
        gap: $gap;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
        .about-us__paragraph {
            display: block;
            font-size: $heading-text-2;
            line-height: 28px;
        }
        .about-us__image {
            border-radius: $border-radius;
            display: block;
            width: 100%;
        }
    }
}
