.main {
    min-height: 92vh;
    width: 1200px;
    margin: 0 auto;
    padding: 70px $gap $gap;
    display: flex;
    flex-direction: column;

    @import "catalog";

    @import "releases";

    @import "news";

    @import "authForm";

    @import "shopCart";

    @import "aboutUs";
}