.aboutUs {
    display: flex;
    flex-direction: column;

    background: $blur-background;
    backdrop-filter: $blur;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    .aboutUs__article {
        border-bottom: 2px solid $background-secondary;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &:last-child {
            margin-bottom: 0;
        }
        .aboutUs__paragraph {
            padding: $gap;
            display: block;
            font-size: $heading-text-3;
            color: $text-general;
            line-height: 26px;
            margin: 0;
        }
        .aboutUs__image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
        .aboutUs__image_left {
            border-top-left-radius: $border-radius;
            //border-radius: $border-radius 0 0 $border-radius;
        }
        .aboutUs__image_right {
            border-bottom-right-radius: $border-radius;
            //border-radius: 0 $border-radius $border-radius 0;
        }
        .aboutUs__image_bottom {
            border-bottom-left-radius: $border-radius;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
