.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    position: relative;
    .filter__options {
        background: $blur-background;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        padding: $gap;
        z-index: 19999;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gap;
        .form__column {
            display: flex;
            flex-direction: column;
        }
        .form__row {
            display: flex;
            .form__checkbox {
                margin-right: 10px;
            }
            .form__label {
                color: $text-general;
            }
        }
        .form__input {
            border-color: $text-secondary;
            width: 100px;
            background: transparent;
        }
    }
    .filters {
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        align-items: center;
        gap: $gap;
        .filters__title {
            margin-top: 0;
        }
        .filter {
            position: relative;
            .block-header {
                cursor: pointer;
                margin-top: 0;
                .icon {
                    margin-right: 8px;
                }
            }
        }
    }

    .catalog__title {
        grid-column: span 3;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: $gap;
        &.catalog__title_popular {
            display: flex;
        }
    }

    .catalog__filters {
        margin-top: 0;
        .filters__filter {
            position: relative;
            .filter__title {
                cursor: pointer;
            }
        }
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $blur-background;
        padding: $block-padding;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        .service__header {
            padding-bottom: 16px;
            border-bottom: 2px solid $border;
            display: flex;
            justify-content: space-between;
            align-items: center;
            * {
                margin: 0;
            }
        }
        .service__description {
            margin: 16px 0 0;
            color: $text-general;
        }
        .service__cost {
            margin: 16px 0;
            color: $text-secondary;
        }
        .service__actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .service__count {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 95px;
                margin: 0;

                .count__setCount {
                    height: 32px;
                    width: 32px;
                    padding: 3px;
                    cursor: pointer;
                    background-color: $text-general;
                    color: $background-primary;
                    border-radius: 50px;
                    transition: .3s;
                }
            }
        }
    }
}