.news {
    .news__article {
        margin: 16px 0;
        background-color: $blur-background;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: $block-padding;

        .article__title {
            margin-top: 0;
        }

        .article__image {
            width: 100%;
            border-radius: 12px;
        }
        .article__date {
            margin-top: 5px;
            color: $text-secondary;
        }
    }
}
