.news {
    display: grid;
    gap: $gap;
    .news__article {
        background-color: $blur-background;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: $block-padding;

        .article__title {
            margin-top: 0;
        }
        .article__content {
            color: $text-notification;
        }
        .article__image {
            width: 100%;
            border-radius: 12px;
        }
        .article__date {
            margin: 0;
            color: $text-secondary;
        }
    }
}
