.releases {
    display: grid;
    justify-content: space-between;
    align-items: start;
    gap: $gap;

    .releases__title {
        grid-column: span 3;
        margin-bottom: 0;
    }

    .release {
        display: grid;
        gap: 8px;
        padding: $block-padding;
        background-color: $blur-background;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        * {
            margin: 0;
        }

        .release__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .release__title {
                font-size: $heading-text-2;
                word-wrap: break-word;
            }
        }

        .release__image {
            width: 300px;
            height: 300px;
            border-radius: $border-radius;
        }

        .release__date {
            color: $text-secondary;
        }

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &:before {
        position: absolute;
        width: 100vw;
        height: 70px;
        background: linear-gradient(black, rgba(0,0,0,0));
    }
}
