.shopCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;

    .shop-cart__empty,
    .shop-cart__items {
        background: $blur-background;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }

    .shop-cart__items {
        padding: 16px 32px;

        .item {
            padding: 16px 0;
            border-bottom: 2px solid $gray-background-primary;
            &:last-child {
                border: none;
            }
            .item__title {
                display: flex;
                align-items: center;
                margin: 0;

                .span__border {
                    padding: 0 6px;
                }
            }

            .item__icon {
                margin-right: 16px;
            }

            .item__description {
                color: $gray-text-general;
            }
            .item__bottom-menu {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .item__cost {
                    color: $gray-text-secondary;
                    margin: 0;
                }

                .item__actions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .actions__delete {
                        color: $red-primary;
                    }
                    .actions__edit {
                        color: $green-edit;

                    }

                    .icon {
                        transition: .3s;
                        &:hover {
                            filter: opacity(70%);
                        }
                        &:active {
                            filter: opacity(50%);
                        }
                    }

                    .actions__label {
                        margin-right: 8px;
                    }
                    .actions__input {
                        margin-right: 8px;
                        width: 60px;
                    }

                    .action {
                        margin: 0 8px;
                    }

                    >* {
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .shop-cart__empty {
        padding: 16px;
        .empty__title {
            margin: 0 0 16px;
        }
    }

    .shop-cart__bottomMenu {
        display: flex;
        align-items: center;
        margin-top: 16px;
        .shop-cart__sum {
            margin: 0 32px 0 0;
        }
    }
}
