@media (max-width: 1230px) {
    .helloElement {
        .container {
            width: 100%;
            .helloElement__title {
                font-size: 45px;
            }
        }

    }
    .header {
        width: 100%;
        .container {
            width: 98%;

        }
    }
    .header__bottomMenu .menu {
        right: 16px;
    }
    .main {
        width: 100%;
        .catalog {
            grid-template-columns: 1fr 1fr;
            .catalog__title {
                grid-column: span 2;
            }
            .filters {
                grid-column: span 2;
            }
        }
        .userProfile {
            grid-template-columns: 1fr;
            .item__artistData .miniItems  {
                grid-template-columns: repeat(7, 1fr) !important;
                .artistData__bio {
                    grid-column: span 5;
                }
                .artistData__profileImage {
                    grid-column: span 2;
                }
            }
        }
    }
    .footer {
        .container {
            width: auto;
            .footer__menu {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: $gap;
                .menu__links:last-child {
                    grid-column: span 2;
                }
            }
        }
    }
}

@media (max-width: 1070px) {
    .main {
        .releases {
            .releases__title {
                grid-column: span 2;
            }

            .release {
                width: min-content;
                &:last-child {
                    display: none;
                }
            }
        }
        .userProfile {
            .item__artistData .miniItems  {
                grid-template-columns: repeat(6, 1fr) !important;
                .artistData__bio {
                    grid-column: span 4;
                }
                .artistData__profileImage {
                    grid-column: span 2;
                }
            }
        }
        .aboutUs {
            .aboutUs__article {
                .aboutUs__paragraph {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
    .notifications {
        top: 70px;
        right: 0;
        display: flex;
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        .notification {
            background-color: $header-background;
            margin: 8px 0;
            .notification__description {
                margin-top: 8px;
            }

            .notification__link {
                margin-top: 8px;
            }
        }
    }
}

@media (max-width: 920px) {
    .main {
        .userRelease .release {
            display: flex;
            flex-direction: column;
            .release__header {
                .release__image {
                    width: 260px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .header .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 720px) {
    .main {
        .releases {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            .releases__title {
                width: 100%;
            }
            .release {
                &:last-child {
                    display: grid;
                }
            }
        }
        .registration .form {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 650px) {
    body {
        //background-position-y: 80vh;
    }
    .block-header {
        font-size: 20px;
        margin-bottom: 0;
        .icon_secondary {
            display: none;
        }
    }
    .helloElement {
        background-image: url("../images/mobilebackground.png");
        background-size: 160%;
        //height: 80vh;
        background-color: black;
        .container {
            padding: $gap;

            .helloElement__title {
                font-size: 36px;
            }

            .helloElement__description {
                font-size: 20px;
            }
            .helloElement__button .container {
                font-size: 18px;
                padding: 0;
            }
        }
    }
    .main {
        .news {
            .article__title {
                font-size: 20px;
            }
        }
        .catalog {
            grid-template-columns: 1fr;
            .catalog__title {
                display: flex;
                flex-direction: column;
                 * {
                     width: 100%;
                 }
            }
            .filters {
                position: static;
                grid-column: span 1;
                grid-template-columns: 1fr 1fr;
                font-size: $paragraph-text;
                .block-header {
                    display: flex;
                }
                .filter:first-child .filter__options {
                    left: 0;
                }
                .filter:last-child .filter__options {
                    right: 0;
                }
                .filter__options {
                    top: 71px;
                    width: calc(200% + 16px);
                }
            }
            .catalog__title {
                grid-column: span 1;
            }
            .service {
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5){
                    display: none;
                }
                .service__actions {
                    flex-direction: row-reverse;
                }
            }
        }
        .aboutUs {
            background: none;
            box-shadow: none;
            backdrop-filter: none;
            display: grid;
            gap: $gap;
            .aboutUs__article {
                border-radius: $border-radius;
                background: $blur-background;
                backdrop-filter: $blur;
                box-shadow: $box-shadow;
                display: flex;
                flex-direction: column;
                &:nth-child(2) {
                    flex-direction: column-reverse;
                }
                .aboutUs__image {
                    height: 200px;
                    border-radius: $border-radius $border-radius 0 0;
                }
            }
        }
        .shopCart .shopCart__items .item {
            .item__content {
                .item__title {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
        .orders .order {
            .order__footer {
                display: grid;
                gap: 12px;
            }
        }
    }
    .header__mobileMenu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        .menu {
            width: 100%;
            &:last-child {
                .menu__title {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .main {
        .userProfile {
            .item__artistData .item__information .miniItems{
                display: flex;
                flex-direction: column;
                .profileImage__image {
                    width: 100%;
                }
            }
            .item__releasesData .item__information {
                .miniItem__aside {
                    display: none !important;
                }
                .releaseData__releaseImage {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .userRelease .release {
            .release__body .songList {
                grid-template-columns: 20px 5fr 1fr 1fr;
                .songList__listens {
                    display: none;
                }
                .song {
                    grid-template-columns: 24px 5fr 1fr 1fr;
                    .song__listens {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .block-header {
        display: grid;
        align-items: start;
        gap: 8px;
    }
    .helloElement {
        .container {
            .helloElement__title {
                font-size: 28px;
            }
            .helloElement__description {
                font-size: 16px;
            }
        }
    }
    .footer .container {
        .footer__menu {
            display: flex;
            flex-direction: column;
        }
    }
    .notifications {
        padding: 0 $gap;
        .notification {
            width: 100%;
            .notification__title {
                font-size: 21px;
            }
        }
    }
    .main {
        .userRelease .release .release__header .release__image {
            width: 100%;
        }
        .shopCart {
            .shopCart__items {
                padding: $gap;
                .item {
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                    .item__icon {
                        margin-right: 8px;
                    }
                    .item__description {
                        margin-top: 12px;
                    }
                    .item__bottom-menu.edit {
                        flex-direction: column;
                        align-items: start;
                        .item__cost {
                            //display: none;
                            margin-bottom: 10px;
                        }
                        .item__actions {
                            width: 100%;
                            .actions__count {
                                margin: 0 16px;
                            }
                        }
                    }
                }
            }
            .shopCart__bottomMenu {
                background: none;
                box-shadow: none;
                backdrop-filter: none;
                flex-direction: column;
                align-items: end;
                padding: 0;
                >* {
                    box-shadow: $box-shadow;
                }
                .shopCart__sum {
                    margin: 0;
                    border-radius: $border-radius;
                    width: 100%;
                    padding: $gap;
                    background-color: $blur-background;
                }
                .shopCart__make-order {
                    width: 100%;
                    padding: 12px $gap;
                    margin-top: $gap;
                    border-radius: $border-radius;
                }
                //flex-direction: column;
            }
        }
        .orders .order {
            .order__header {
                flex-wrap: wrap;
            }
        }
        .catalog {
            .filters {
                .block-header {
                    gap: 0;
                    .icon {
                        margin: 0;
                    }
                }
            }
        }
    }
}
