a {
    color: $blue-link;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    &:hover {
        color: $blue-hovered;
    }
    &:active {
        color: $blue-pressed;
    }
    &.active {
        color: rgba(255, 255, 255, 0.29);
        background: $gradient;
        background-size: 500%;
        -webkit-background-clip: text;

        animation: gradient 15s linear infinite;
    }
}

.button {
    color: $text-primary;
    background: $blue-primary;
    cursor: pointer;
    border: none;
    padding: 6px 15px;
    height: 32px;
    border-radius: 4px;
    transition: .3s;
    font-size: $paragraph-text;
    &:hover {
        opacity: 90%;
    }
    &:active {
        opacity: 75%;
    }
    &.button_white {
        display: block;
        text-align: center;
        padding: 8px 32px;
        border-radius: 50px;
        font-size: 22px;
        background: $text-primary;
        width: fit-content;
        transition: .2s;
        height: auto;
        &:hover {
            opacity: 90%;
        }
        &:active {
            opacity: 85%;
        }
        .container {
            width: auto;
            background: $gradient;
            background-size: 400%;
            -webkit-background-clip: text;
            color: transparent;

            animation: gradient 10s linear infinite;
        }
    }
}

.button__success {
    height: fit-content;
    background-color: $green-primary;
    color: $text-primary;
    padding: 8px 16px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: .2s;
    width: fit-content;
}

.icon {
    height: 28px;
    width: 28px;
    transition: .3s !important;
    cursor: pointer;
    &:hover {
        filter: opacity(70%);
    }
    &:active {
        filter: opacity(50%);
    }

    &.icon_edit {
        color: $blue-general;
    }
    &.icon_save {
        color: $green-edit;
    }
    &.icon_user {
        width: 50px;
        height: 50px;
    }
    &.icon_secondary {
        color: $text-secondary;
    }

}

.form {

    .form__label {
        color: $text-general;
    }

    .form__input {
        width: 300px;
        margin: 8px 0;
        font-size: 18px;
        border: 2px solid $border;
        border-radius: 4px;
        padding: 8px 6px;
        color: $text-primary;
        background-color: $background-primary;

        &:focus {
            border-color: $blue-primary;
            outline: none !important;
        }
    }
    .form__input_submit {
        cursor: pointer;
        color: $text-primary;
        border: none;
        background-color: $blue-primary;
        transition: .2s;

        &:hover {
            background-color: $blue-hovered;
        }
        &:active {
            background-color: $blue-pressed;
        }
    }
}
.input {
    height: 28px;
    border-radius: 4px;
    padding: 6px 9px;
    background: none;
    color: $text-general;
    border: 2px solid $text-secondary;
}

.label {
    color: $text-secondary;
}
.block-header {
    color: $text-primary;
    background-color: $blur-background;
    backdrop-filter: $blur;
    padding: 16px;
    margin: 32px 0 16px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.block-header_menu {
        justify-content: start;
    }
    * {
        display: block;
        margin: 0;
        padding: 0;
    }
    .block-header__separator {
        margin: 0 8px;
        color: $text-general;
    }
    .block-header__title {
        font-size: 24px;
        font-weight: 600;
    }
    .title__route {
        color: $blue-link;
    }
}

.span__border {
    font-weight: 400;
}

.textarea {
    display: block;
    width: 100%;
    overflow-y: hidden;
    resize: none; /* Remove this if you want the user to resize the textarea */
    height: 205px;
    border: 2px solid $border;
    margin-bottom: 0;
    border-radius: $border-radius;
    padding: 6px 8px;
    color: $text-primary;
    background-color: $background-primary;
}

.actions__delete {
    color: $red-primary;
}
.actions__edit {
    color: $green-edit;
}