.helloElement {
    background: url("../images/background.jpg") repeat-x;
    background-size: cover;
    background-position-x: 52vw;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container {
        width: 1100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .helloElement__title {
            font-size: 65px;
            text-align: center;
            text-shadow: 0 0 20px black;
            color: $text-primary;
            margin-bottom: 50px;
        }
        .helloElement__description {
            font-size: 24px;
            text-align: center;
            background: $gradient;
            background-size: 200%;
            -webkit-background-clip: text;
            color: transparent;

            animation: gradient 4s linear infinite;
        }
        .helloElement__button {
            display: block;
            text-align: center;
            padding: 8px 32px;
            border-radius: 50px;
            font-size: 22px;
            background: $text-primary;
            width: fit-content;
            transition: .2s;
            &:hover {
                opacity: 90%;
            }
            &:active {
                opacity: 85%;
            }
            .container {
                width: auto;
                background: $gradient;
                background-size: 400%;
                -webkit-background-clip: text;
                color: transparent;

                animation: gradient 4s linear infinite;
            }

        }
    }

}
