@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.notification_hide {
  opacity: 0;
}

.notification_show {
  opacity: 1;
}

.notifications {
  position: fixed;
  right: 16px;
  bottom: 0;
  z-index: 999;
}
.notifications .notification {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  margin: 16px 0;
  transition: 0.5s;
  background: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  padding: 16px;
  width: 390px;
  border-radius: 12px;
}
.notifications .notification .notification__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.notifications .notification .notification__title .notification__close {
  cursor: pointer;
  color: #DB5C5C;
}
.notifications .notification .notification__description {
  color: #afafb6;
  margin-top: 16px;
  margin-bottom: 0;
}
.notifications .notification .notification__link {
  display: block;
  margin-top: 16px;
}
* {
  box-sizing: border-box;
}
*::selection {
  background-color: #0090e0;
  color: #DFE1E5;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #DFE1E5;
  font-size: 16px;
  background-image: url("../images/body_background.jpg");
  background-position-y: 100vh;
  background-size: cover;
  min-height: 80vh;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #1E1F22;
}
body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.header, .footer {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(15px);
  min-height: 70px;
  box-shadow: 0px 8px 40px black;
}
.header .container, .footer .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  min-height: 70px;
  padding: 5px 16px;
}

.footer .container {
  height: unset;
  padding-top: 0;
  flex-direction: column;
}
.footer .container .footer__menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #2d2d2d;
  padding: 16px 16px 32px;
  width: 100%;
}
.footer .container .footer__menu .menu__links .links__title {
  margin-top: 0;
  margin-bottom: 16px;
}
.footer .container .footer__menu .menu__links .links {
  display: grid;
  gap: 8px;
}
.footer .container .footer__copyright {
  color: #868A91;
  min-height: 70px;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.header .container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 1200px;
}
.header .container :nth-child(2) {
  justify-self: center;
}
.header .container :last-child {
  justify-self: end;
}
.header .container .header__logo {
  font-size: 24px;
  text-shadow: 0 20px 50px black;
  background: linear-gradient(90deg, #e933ff, #00a0ff, #7700d5, #0021ff, #3574F0);
  background-size: 500%;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.1);
  animation: gradient 10s linear infinite;
  font-weight: 700;
}
.header .container .header__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .container .header__avatar .avatar__image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  object-fit: cover;
}
.header .container .nav .nav__link {
  margin: 0 8px;
}
.header .container .nav__user-actions .nav__link {
  margin: 0 8px;
}

.header__bottomMenu {
  width: 1167px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.header__bottomMenu .menu {
  top: 70px;
  position: fixed;
  z-index: 998;
  flex-direction: column;
  justify-content: end;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.35);
  background: rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  padding: 8px;
  border-radius: 0 0 8px 8px;
}
.header__bottomMenu .menu .menu__action {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #2d2d2d;
}
.header__bottomMenu .menu .menu__action:first-child {
  padding-top: 0;
}
.header__bottomMenu .menu .menu__action:last-child {
  border: none;
  padding-bottom: 0;
}

.header__mobileMenu {
  position: fixed;
  top: 70px;
  z-index: 1000;
  width: 100%;
  background: rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  padding: 16px;
}
.header__mobileMenu .menu {
  padding: 16px;
  display: grid;
  height: min-content;
  justify-items: end;
  gap: 16px;
}
.header__mobileMenu .menu .menu__title {
  margin: 0;
  padding: 0 0 16px 0;
  color: #afafb6;
  border-bottom: 2px solid #2d2d2d;
}
.header__mobileMenu .menu .nav__link {
  font-size: 18px;
}

.footer__description {
  margin: 0 auto;
}

.main {
  min-height: 75vh;
  width: 1200px;
  margin: 0 auto;
  padding: 70px 16px 16px;
  display: flex;
  flex-direction: column;
}
.main .catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  position: relative;
}
.main .catalog .filter__options {
  background: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 16px;
  z-index: 19999;
  height: fit-content;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.main .catalog .filter__options .form__column {
  display: flex;
  flex-direction: column;
}
.main .catalog .filter__options .form__row {
  display: flex;
}
.main .catalog .filter__options .form__row .form__checkbox {
  margin-right: 10px;
}
.main .catalog .filter__options .form__row .form__label {
  color: #afafb6;
}
.main .catalog .filter__options .form__input {
  border-color: #868A91;
  width: 100px;
  background: transparent;
}
.main .catalog .filters {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 16px;
}
.main .catalog .filters .filters__title {
  margin-top: 0;
}
.main .catalog .filters .filter {
  position: relative;
}
.main .catalog .filters .filter .block-header {
  cursor: pointer;
  margin-top: 0;
}
.main .catalog .filters .filter .block-header .icon {
  margin-right: 8px;
}
.main .catalog .catalog__title {
  grid-column: span 3;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 16px;
}
.main .catalog .catalog__title.catalog__title_popular {
  display: flex;
}
.main .catalog .catalog__filters {
  margin-top: 0;
}
.main .catalog .catalog__filters .filters__filter {
  position: relative;
}
.main .catalog .catalog__filters .filters__filter .filter__title {
  cursor: pointer;
}
.main .catalog .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(30, 30, 30, 0.4980392157);
  padding: 16px;
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .catalog .service .service__header {
  padding-bottom: 16px;
  border-bottom: 2px solid #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .catalog .service .service__header * {
  margin: 0;
}
.main .catalog .service .service__description {
  margin: 16px 0 0;
  color: #afafb6;
}
.main .catalog .service .service__cost {
  margin: 16px 0;
  color: #868A91;
}
.main .catalog .service .service__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .catalog .service .service__actions .service__count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95px;
  margin: 0;
}
.main .catalog .service .service__actions .service__count .count__setCount {
  height: 32px;
  width: 32px;
  padding: 3px;
  cursor: pointer;
  background-color: #afafb6;
  color: #1E1F22;
  border-radius: 50px;
  transition: 0.3s;
}
.main .releases {
  display: grid;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}
.main .releases .releases__title {
  grid-column: span 3;
  margin-bottom: 0;
}
.main .releases .release {
  display: grid;
  gap: 8px;
  padding: 16px;
  background-color: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .releases .release * {
  margin: 0;
}
.main .releases .release .release__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .releases .release .release__header .release__title {
  font-size: 24px;
  word-wrap: break-word;
}
.main .releases .release .release__image {
  width: 300px;
  height: 300px;
  border-radius: 16px;
}
.main .releases .release .release__date {
  color: #868A91;
}
.main .releases .release:first-child {
  margin-left: 0;
}
.main .releases .release:last-child {
  margin-right: 0;
}
.main .releases:before {
  position: absolute;
  width: 100vw;
  height: 70px;
  background: linear-gradient(black, rgba(0, 0, 0, 0));
}
.main .news {
  display: grid;
  gap: 16px;
}
.main .news .news__title {
  display: flex;
  align-items: center;
}
.main .news .news__header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.main .news .news__header .news__title {
  font-size: 24px;
}
.main .news .news__header * {
  margin: 0;
}
.main .news .news__header .news__link {
  font-size: 16px;
  font-weight: 400;
}
.main .news .news__menu {
  display: flex;
  justify-content: space-between;
}
.main .news .news__menu .menu__action {
  border-radius: 16px;
}
.main .news .news__article {
  background-color: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  padding: 16px;
  display: grid;
  gap: 8px;
  justify-content: start;
}
.main .news .news__article .article__title a {
  color: #DFE1E5;
}
.main .news .news__article * {
  margin: 0;
}
.main .news .news__article .article__content {
  color: #afafb6;
}
.main .news .news__article .article__image {
  width: 100%;
  border-radius: 12px;
}
.main .news .news__article .article__date {
  color: #868A91;
}
.main .questions .questions__form {
  font-size: 16px;
  padding: 8px;
  background-color: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  display: grid;
  gap: 10px;
  grid-template-columns: max-content 1fr;
  align-items: center;
}
.main .questions .questions__list {
  padding: 0;
  display: grid;
  gap: 16px;
}
.main .questions .questions__list .faq {
  padding: 16px;
  background-color: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  display: grid;
}
.main .questions .questions__list .faq .faq__question {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main .questions .questions__list .faq .faq__question .icon_show {
  transform: rotate(90deg);
}
.main .questions .questions__list .faq .faq__question .highlight {
  margin-left: 5px;
}
.main .questions .questions__list .faq * {
  margin: 0;
}
.main .questions .questions__list .faq .faq__answer {
  border-top: 2px solid #2d2d2d;
  transition: opacity 0.5s;
  margin-top: 16px;
  padding: 16px 4px 4px 4px;
  color: #afafb6;
}
.main .questions .questions__list .faq .faq__answer.faq__answer_hidden {
  display: none;
  opacity: 0;
}
.main .authorization .authForm {
  height: fit-content;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}
.main .authorization,
.main .registration {
  margin-top: 16px;
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .authorization .form,
.main .registration .form {
  background-color: rgba(30, 30, 30, 0.4980392157);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  padding: 16px;
}
.main .registration .registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.main .registration .registerForm .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .registration .registerForm .row .form__input {
  background: none;
}
.main .registration .registerForm .row .form__input_submit {
  background-color: #3574F0;
}
.main .registration .registerForm .row_submit {
  grid-column: span 2;
  justify-self: center;
}
.main .registration .registerForm .row_submit .form__help {
  margin: 8px;
}
.main .shopCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}
.main .shopCart .shopCart__empty,
.main .shopCart .shopCart__items {
  background: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .shopCart .shopCart__items {
  padding: 16px 32px;
}
.main .shopCart .shopCart__items .item {
  padding: 16px 0;
  border-bottom: 2px solid #2d2d2d;
}
.main .shopCart .shopCart__items .item:last-child {
  border: none;
}
.main .shopCart .shopCart__items .item .item__title {
  display: flex;
  align-items: center;
  margin: 0;
}
.main .shopCart .shopCart__items .item .item__title .span__border {
  padding: 0 6px;
}
.main .shopCart .shopCart__items .item .item__icon {
  margin-right: 16px;
}
.main .shopCart .shopCart__items .item .item__description {
  color: #868A91;
  margin-bottom: 10px;
}
.main .shopCart .shopCart__items .item .item__bottom-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .shopCart .shopCart__items .item .item__bottom-menu .item__cost {
  color: #afafb6;
  margin: 0;
}
.main .shopCart .shopCart__items .item .item__bottom-menu .item__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 70px;
}
.main .shopCart .shopCart__items .item .item__bottom-menu .item__actions .actions__change {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.main .shopCart .shopCart__items .item .item__bottom-menu .item__actions .actions__change .actions__count {
  margin: 0 8px;
  background-color: #afafb6;
  color: #1E1F22;
  border-radius: 50px;
}
.main .shopCart .shopCart__items .item .item__bottom-menu .item__actions > * {
  cursor: pointer;
}
.main .shopCart .shopCart__empty {
  padding: 16px;
}
.main .shopCart .shopCart__empty .empty__title {
  margin: 0 0 16px;
}
.main .shopCart .shopCart__bottomMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
}
.main .shopCart .shopCart__bottomMenu .shopCart__sum {
  display: flex;
  color: #DFE1E5;
  width: auto;
  margin: 0 32px 0 0;
}
.main .shopCart .shopCart__bottomMenu .shopCart__sum .span__border {
  margin: 0 8px;
}
.main .shopCart .shopCart__bottomMenu .shopCart__make-order {
  padding: 8px 16px;
  font-size: 16px;
}
.main .aboutUs {
  display: flex;
  flex-direction: column;
  background: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .aboutUs .aboutUs__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .aboutUs .aboutUs__article:last-child {
  margin-bottom: 0;
}
.main .aboutUs .aboutUs__article .aboutUs__paragraph {
  padding: 16px;
  display: block;
  font-size: 20px;
  color: #afafb6;
  line-height: 26px;
  margin: 0;
}
.main .aboutUs .aboutUs__article .aboutUs__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .aboutUs .aboutUs__article .aboutUs__image_left {
  border-top-left-radius: 16px;
}
.main .aboutUs .aboutUs__article .aboutUs__image_right {
  border-bottom-right-radius: 16px;
}
.main .aboutUs .aboutUs__article .aboutUs__image_bottom {
  border-bottom-left-radius: 16px;
}
.main .aboutUs .aboutUs__article:last-child {
  border-bottom: none;
}
.main .orders .order {
  padding: 16px 16px 0;
  background-color: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  margin: 16px 0;
}
.main .orders .order .order__header {
  border-bottom: 2px solid #2d2d2d;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .orders .order .order__header .order__title {
  margin: 0;
  font-size: 24px;
}
.main .orders .order .order__header .order__status_pending {
  color: #E08855;
}
.main .orders .order .order__header .order__status_confirmed {
  color: #57965C;
}
.main .orders .order .order__header .order__status_in-progress {
  color: #3574F0;
}
.main .orders .order .order__header .order__status_delivered {
  color: #955AE0;
}
.main .orders .order .order__header .order__status_cancelled {
  color: #DB5C5C;
}
.main .orders .order .order__body {
  display: grid;
  gap: 16px;
}
.main .orders .order .order__body .order__service {
  border-bottom: 2px solid #2d2d2d;
}
.main .orders .order .order__body .order__service .service__title {
  margin: 0;
  color: #DFE1E5;
}
.main .orders .order .order__body .order__service .service__description {
  color: #afafb6;
}
.main .orders .order .order__body .order__service .service__cost {
  color: #868A91;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.main .orders .order .order__body .order__service:first-child .service__title {
  margin-top: 16px;
}
.main .orders .order .order__footer {
  padding: 16px 0;
  color: #afafb6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .orders .order .order__footer .order__sum {
  margin: 0;
}
.main .userProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  justify-items: stretch;
  gap: 16px;
}
.main .userProfile .userProfile__item {
  background: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  width: 100%;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .userProfile .userProfile__item .item__title {
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .userProfile .userProfile__item .item__title .title {
  margin: 0;
  color: #DFE1E5;
  font-size: 24px;
}
.main .userProfile .userProfile__item .item__information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 0;
  height: border-box;
}
.main .userProfile .userProfile__item .item__information .information__general {
  margin-bottom: 0;
  color: #afafb6;
}
.main .userProfile .userProfile__item .item__information .information__secondary {
  color: #868A91;
}
.main .userProfile .userProfile__item .item__information .item__action {
  margin: 0;
}
.main .userProfile .userProfile__item .item__information .miniItems {
  margin-top: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: auto auto;
}
.main .userProfile .userProfile__item .item__information .miniItems.miniItems_vertical {
  grid-template-columns: auto;
}
.main .userProfile .userProfile__item .item__information .miniItems .miniItem {
  background-color: #1E1F22;
  padding: 16px;
  border-radius: 16px;
  position: relative;
}
.main .userProfile .userProfile__item .item__information .miniItems .miniItem .miniItem__title {
  margin-top: 0;
  margin-bottom: 16px;
}
.main .userProfile .userProfile__item .item__information .miniItems .miniItem .miniItem__block {
  display: block;
  min-height: 100px;
  text-align: justify;
}
.main .userProfile .userProfile__item .item__information .miniItems .miniItem .miniItem__secondary {
  margin: 8px 0;
}
.main .userProfile .userProfile__item .item__information .miniItems .miniItem .miniItem__edit {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.main .userProfile .userProfile__item .item__information .miniItems_vertical .miniItem {
  display: flex;
  width: 100%;
}
.main .userProfile .userProfile__item .item__information .miniItems_vertical .miniItem__aside {
  margin-left: 16px;
  width: 100%;
}
.main .userProfile .userProfile__item .item__information .miniItems_vertical .miniItem__aside .aside__item {
  display: flex;
  justify-content: space-between;
}
.main .userProfile .userProfile__item .item__information .miniItems_vertical .miniItem__aside .aside__item .item__description {
  margin: 4px 0;
}
.main .userProfile .userProfile__item .item__information .miniItems_vertical .miniItem__aside .aside__item:last-child .item__description {
  margin-bottom: 0;
}
.main .userProfile .item__artistData {
  grid-row: span 2;
  height: 100%;
}
.main .userProfile .item__artistData .information__miniItems {
  grid-template-columns: repeat(11, 1fr) !important;
}
.main .userProfile .item__artistData .information__miniItems .artistData__profileImage {
  grid-column: span 5;
}
.main .userProfile .item__artistData .information__miniItems .profileImage__image {
  border-radius: 16px;
  margin: 0;
  display: block;
  width: 100%;
}
.main .userProfile .item__artistData .information__miniItems .artistData__bio {
  grid-column: span 6;
  line-height: 22px;
}
.main .userProfile .item__artistData .information__miniItems .miniItem__textarea {
  width: 100%;
  background: none;
}
.main .userProfile .item__userData .userData__userEmail {
  margin-bottom: 0;
}
.main .userProfile .item__userData .userData__payment {
  color: #afafb6;
}
.main .userProfile .item__userData .userData__editableItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  height: 28px;
}
.main .userProfile .item__userData .userData__editableItem .editableItem__title {
  margin-top: 0;
}
.main .userProfile .item__userData .userData__form {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .userProfile .item__userData .userData__form .userData__input, .main .userProfile .item__userData .userData__form .userData__label, .main .userProfile .item__userData .userData__form .userData__button {
  height: 28px;
}
.main .userProfile .item__releasesData {
  grid-row: span 4;
}
.main .userProfile .item__releasesData .releaseData__releaseImage {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 16px;
}
.main .userRelease .userRelease__title {
  font-size: 24px;
  display: flex;
  align-items: center;
}
.main .userRelease .userRelease__title * {
  margin: 0;
}
.main .userRelease .userRelease__title .title__separator {
  color: #868A91;
  padding: 0 8px;
}
.main .userRelease .userReleases__release {
  padding: 16px;
  background-color: rgba(30, 30, 30, 0.4980392157);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(15px);
  width: 100%;
  margin: 16px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}
.main .userRelease .userReleases__release .release__header {
  width: 100%;
}
.main .userRelease .userReleases__release .release__header .release__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.main .userRelease .userReleases__release .release__header .release__title .title {
  margin: 0;
}
.main .userRelease .userReleases__release .release__header .release__title .input {
  width: 140px;
}
.main .userRelease .userReleases__release .release__header .release__image {
  width: 100%;
  border-radius: 16px;
}
.main .userRelease .userReleases__release .release__header .release__type,
.main .userRelease .userReleases__release .release__header .release__date,
.main .userRelease .userReleases__release .release__header .release__duration,
.main .userRelease .userReleases__release .release__header .release__about {
  margin: 8px 0;
  color: #868A91;
}
.main .userRelease .userReleases__release .release__body {
  display: flex;
  flex-direction: column;
}
.main .userRelease .userReleases__release .release__body .body__title {
  margin: 0 0 8px;
}
.main .userRelease .userReleases__release .release__body .songList {
  margin: 0;
  display: grid;
  grid-template-columns: 20px 5fr 2fr 2fr 1fr;
  gap: 8px;
  padding: 0;
}
.main .userRelease .userReleases__release .release__body .songList .songList__title,
.main .userRelease .userReleases__release .release__body .songList .songList__duration,
.main .userRelease .userReleases__release .release__body .songList .songList__listens {
  list-style: none;
  padding: 8px;
  color: #868A91;
}
.main .userRelease .userReleases__release .release__body .songList .song {
  display: grid;
  grid-template-columns: 24px 5fr 2fr 2fr 1fr;
  grid-column: span 7;
  align-items: center;
  padding: 8px 8px 8px 12px;
  background-color: #1E1F22;
  border-radius: 16px;
  color: #afafb6;
}
.main .userRelease .userReleases__release .release__body .songList .song > * {
  padding: 0;
  margin: 0;
}
.main .userRelease .userReleases__release .release__body .songList .song .song__duration,
.main .userRelease .userReleases__release .release__body .songList .song .song__listens {
  color: #868A91;
}
.main .userRelease .userReleases__release .release__body .songList .song .song__actions {
  justify-self: end;
  padding: 0;
  margin: 0;
  height: 28px;
}
.main .userRelease .userReleases__release .release__body .songList .song .song__body_editable .song__duration_input {
  width: 90px;
}
.main .userRelease .userReleases__release_all .release__body .songList {
  grid-template-columns: 20px 5fr 2fr 2fr;
}
.main .userRelease .userReleases__release_all .release__body .songList .song {
  grid-column: span 6;
  grid-template-columns: 24px 5fr 2fr 2fr;
}
.main .userReleases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
.main .userReleases .userReleases__title {
  grid-column: span 4;
  margin-bottom: 0;
}
.main .userReleases .release {
  background-color: rgba(30, 30, 30, 0.4980392157);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(15px);
  width: fit-content;
  margin: 16px 0;
  padding: 16px;
  display: grid;
  grid-gap: 8px;
}
.main .userReleases .release * {
  margin: 0;
}
.main .userReleases .release .release__header {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 20px;
  align-items: center;
  margin-bottom: 8px;
}
.main .userReleases .release .release__header :last-child {
  justify-self: end;
}
.main .userReleases .release .release__image {
  width: 100%;
  border-radius: 16px;
}
.main .userReleases .release .release__date,
.main .userReleases .release .release__about {
  color: #868A91;
}

.helloElement {
  background: url("../images/background.jpg") repeat-x;
  background-size: cover;
  background-position-x: 52vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.helloElement .container {
  width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.helloElement .container .helloElement__title {
  font-size: 65px;
  text-align: center;
  text-shadow: 0 0 20px black;
  color: #DFE1E5;
  margin-bottom: 50px;
}
.helloElement .container .helloElement__description {
  font-size: 24px;
  text-align: center;
  background: linear-gradient(90deg, #e933ff, #00a0ff, #7700d5, #0021ff, #3574F0);
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 4s linear infinite;
}

a {
  color: #6B9BFA;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
a:hover {
  color: #366ACF;
}
a:active {
  color: #375FAD;
}
a.active {
  color: rgba(255, 255, 255, 0.29);
  background: linear-gradient(90deg, #e933ff, #00a0ff, #7700d5, #0021ff, #3574F0);
  background-size: 500%;
  -webkit-background-clip: text;
  animation: gradient 15s linear infinite;
}

.button {
  color: #DFE1E5;
  background: #3574F0;
  cursor: pointer;
  border: none;
  padding: 6px 15px;
  height: 32px;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 16px;
}
.button:hover {
  opacity: 90%;
}
.button:active {
  opacity: 75%;
}
.button.button_white {
  display: block;
  text-align: center;
  padding: 8px 32px;
  border-radius: 50px;
  font-size: 22px;
  background: #DFE1E5;
  width: fit-content;
  transition: 0.2s;
  height: auto;
}
.button.button_white:hover {
  opacity: 90%;
}
.button.button_white:active {
  opacity: 85%;
}
.button.button_white .container {
  width: auto;
  background: linear-gradient(90deg, #e933ff, #00a0ff, #7700d5, #0021ff, #3574F0);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 10s linear infinite;
}

.highlight {
  color: black;
  background: #DFE1E5;
  padding: 0 4px;
  border-radius: 5px;
}

.button__success {
  height: fit-content;
  background-color: #57965C;
  color: #DFE1E5;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
}

.icon {
  height: 28px;
  width: 28px;
  transition: 0.3s !important;
  cursor: pointer;
}
.icon:hover {
  filter: opacity(70%);
}
.icon:active {
  filter: opacity(50%);
}
.icon.icon_show {
  transform: rotate(90deg);
}
.icon.icon_edit {
  color: #548AF7;
}
.icon.icon_save {
  color: #5FAD65;
}
.icon.icon_user {
  width: 50px;
  height: 50px;
}
.icon.icon_secondary {
  color: #868A91;
}

.form.form_horizontal {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 10px;
  border: 2px solid #868A91;
  border-radius: 16px;
  padding: 4px 6px;
  color: #DFE1E5;
}
.form.form_horizontal * {
  background: none !important;
  border: none !important;
}
.form.form_horizontal .form__input_search {
  padding: 0;
  height: 32px;
}
.form.form_horizontal .icon {
  display: flex;
  align-items: center;
}
.form .form__label {
  font-size: 16px;
  color: #afafb6;
  cursor: pointer;
}
.form .form__input {
  width: 300px;
  margin: 8px 0;
  font-size: 18px;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
  padding: 8px 6px;
  color: #DFE1E5;
  background-color: #1E1F22;
}
.form .form__input.form__input_search {
  border-color: #868A91;
  font-size: 16px;
  margin: 0;
  background-color: transparent;
  width: 100%;
}
.form .form__input:focus {
  border-color: #3574F0;
  outline: none !important;
}
.form .form__input_submit {
  cursor: pointer;
  color: #DFE1E5;
  border: none;
  background-color: #3574F0;
  transition: 0.2s;
}
.form .form__input_submit:hover {
  background-color: #366ACF;
}
.form .form__input_submit:active {
  background-color: #375FAD;
}

.input {
  height: 28px;
  border-radius: 4px;
  padding: 6px 9px;
  background: none;
  color: #afafb6;
  border: 2px solid #868A91;
}

.label {
  color: #868A91;
}

.block-header {
  color: #DFE1E5;
  background-color: rgba(30, 30, 30, 0.4980392157);
  backdrop-filter: blur(15px);
  padding: 16px;
  margin: 32px 0 16px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-header.block-header_menu {
  justify-content: start;
}
.block-header.block-header_menu * {
  font-size: 20px;
  font-weight: 300 !important;
}
.block-header * {
  display: block;
  margin: 0;
  padding: 0;
}
.block-header .block-header__separator {
  margin: 0 8px;
  color: #afafb6;
}
.block-header .block-header__title {
  font-size: 24px;
  font-weight: 600;
}
.block-header .title__route {
  color: #6B9BFA;
}

.span__border {
  font-weight: 400;
}

.textarea {
  display: block;
  width: 100%;
  overflow-y: hidden;
  resize: none; /* Remove this if you want the user to resize the textarea */
  height: 205px;
  border: 2px solid #2d2d2d;
  margin-bottom: 0;
  border-radius: 16px;
  padding: 6px 8px;
  color: #DFE1E5;
  background-color: #1E1F22;
}

.actions__delete {
  color: #DB5C5C;
}

.actions__edit {
  color: #5FAD65;
}

@media (max-width: 1230px) {
  .helloElement .container {
    width: 100%;
  }
  .helloElement .container .helloElement__title {
    font-size: 45px;
  }
  .header {
    width: 100%;
  }
  .header .container {
    width: 98%;
  }
  .header__bottomMenu .menu {
    right: 16px;
  }
  .main {
    width: 100%;
  }
  .main .catalog {
    grid-template-columns: 1fr 1fr;
  }
  .main .catalog .catalog__title {
    grid-column: span 2;
  }
  .main .catalog .filters {
    grid-column: span 2;
  }
  .main .userProfile {
    grid-template-columns: 1fr;
  }
  .main .userProfile .item__artistData .miniItems {
    grid-template-columns: repeat(7, 1fr) !important;
  }
  .main .userProfile .item__artistData .miniItems .artistData__bio {
    grid-column: span 5;
  }
  .main .userProfile .item__artistData .miniItems .artistData__profileImage {
    grid-column: span 2;
  }
  .footer .container {
    width: auto;
  }
  .footer .container .footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .footer .container .footer__menu .menu__links:last-child {
    grid-column: span 2;
  }
}
@media (max-width: 1070px) {
  .main .releases .releases__title {
    grid-column: span 2;
  }
  .main .releases .release {
    width: min-content;
  }
  .main .releases .release:last-child {
    display: none;
  }
  .main .userProfile .item__artistData .miniItems {
    grid-template-columns: repeat(6, 1fr) !important;
  }
  .main .userProfile .item__artistData .miniItems .artistData__bio {
    grid-column: span 4;
  }
  .main .userProfile .item__artistData .miniItems .artistData__profileImage {
    grid-column: span 2;
  }
  .main .aboutUs .aboutUs__article .aboutUs__paragraph {
    font-size: 18px;
    line-height: 22px;
  }
  .notifications {
    top: 70px;
    right: 0;
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }
  .notifications .notification {
    background-color: rgba(0, 0, 0, 0.55);
    margin: 8px 0;
  }
  .notifications .notification .notification__description {
    margin-top: 8px;
  }
  .notifications .notification .notification__link {
    margin-top: 8px;
  }
}
@media (max-width: 920px) {
  .main .userRelease .release {
    display: flex;
    flex-direction: column;
  }
  .main .userRelease .release .release__header .release__image {
    width: 260px;
  }
}
@media (max-width: 750px) {
  .header .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 720px) {
  .main .releases {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .main .releases .releases__title {
    width: 100%;
  }
  .main .releases .release:last-child {
    display: grid;
  }
  .main .registration .form {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .block-header {
    font-size: 20px;
    margin-bottom: 0;
  }
  .block-header .icon_secondary {
    display: none;
  }
  .helloElement {
    background-image: url("../images/mobilebackground.png");
    background-size: 160%;
    background-color: black;
  }
  .helloElement .container {
    padding: 16px;
  }
  .helloElement .container .helloElement__title {
    font-size: 36px;
  }
  .helloElement .container .helloElement__description {
    font-size: 20px;
  }
  .helloElement .container .helloElement__button .container {
    font-size: 18px;
    padding: 0;
  }
  .main .news .article__title {
    font-size: 20px;
  }
  .main .catalog {
    grid-template-columns: 1fr;
  }
  .main .catalog .catalog__title {
    display: flex;
    flex-direction: column;
  }
  .main .catalog .catalog__title * {
    width: 100%;
  }
  .main .catalog .filters {
    position: static;
    grid-column: span 1;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
  }
  .main .catalog .filters .block-header {
    display: flex;
  }
  .main .catalog .filters .filter:first-child .filter__options {
    left: 0;
  }
  .main .catalog .filters .filter:last-child .filter__options {
    right: 0;
  }
  .main .catalog .filters .filter__options {
    top: 71px;
    width: calc(200% + 16px);
  }
  .main .catalog .catalog__title {
    grid-column: span 1;
  }
  .main .catalog .service:nth-child(3), .main .catalog .service:nth-child(4), .main .catalog .service:nth-child(5) {
    display: none;
  }
  .main .catalog .service .service__actions {
    flex-direction: row-reverse;
  }
  .main .aboutUs {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    display: grid;
    gap: 16px;
  }
  .main .aboutUs .aboutUs__article {
    border-radius: 16px;
    background: rgba(30, 30, 30, 0.4980392157);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
  }
  .main .aboutUs .aboutUs__article:nth-child(2) {
    flex-direction: column-reverse;
  }
  .main .aboutUs .aboutUs__article .aboutUs__image {
    height: 200px;
    border-radius: 16px 16px 0 0;
  }
  .main .shopCart .shopCart__items .item .item__content .item__title {
    display: flex;
    flex-wrap: wrap;
  }
  .main .orders .order .order__footer {
    display: grid;
    gap: 12px;
  }
  .header__mobileMenu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }
  .header__mobileMenu .menu {
    width: 100%;
  }
  .header__mobileMenu .menu:last-child .menu__title {
    display: none;
  }
}
@media (max-width: 570px) {
  .main .userProfile .item__artistData .item__information .miniItems {
    display: flex;
    flex-direction: column;
  }
  .main .userProfile .item__artistData .item__information .miniItems .profileImage__image {
    width: 100%;
  }
  .main .userProfile .item__releasesData .item__information .miniItem__aside {
    display: none !important;
  }
  .main .userProfile .item__releasesData .item__information .releaseData__releaseImage {
    width: 100%;
    height: 100%;
  }
  .main .userRelease .release .release__body .songList {
    grid-template-columns: 20px 5fr 1fr 1fr;
  }
  .main .userRelease .release .release__body .songList .songList__listens {
    display: none;
  }
  .main .userRelease .release .release__body .songList .song {
    grid-template-columns: 24px 5fr 1fr 1fr;
  }
  .main .userRelease .release .release__body .songList .song .song__listens {
    display: none;
  }
}
@media (max-width: 500px) {
  .block-header {
    display: grid;
    align-items: start;
    gap: 8px;
  }
  .helloElement .container .helloElement__title {
    font-size: 28px;
  }
  .helloElement .container .helloElement__description {
    font-size: 16px;
  }
  .footer .container .footer__menu {
    display: flex;
    flex-direction: column;
  }
  .notifications {
    padding: 0 16px;
  }
  .notifications .notification {
    width: 100%;
  }
  .notifications .notification .notification__title {
    font-size: 21px;
  }
  .main .userRelease .release .release__header .release__image {
    width: 100%;
  }
  .main .shopCart .shopCart__items {
    padding: 16px;
  }
  .main .shopCart .shopCart__items .item:first-child {
    padding-top: 0;
  }
  .main .shopCart .shopCart__items .item:last-child {
    padding-bottom: 0;
  }
  .main .shopCart .shopCart__items .item .item__icon {
    margin-right: 8px;
  }
  .main .shopCart .shopCart__items .item .item__description {
    margin-top: 12px;
  }
  .main .shopCart .shopCart__items .item .item__bottom-menu.edit {
    flex-direction: column;
    align-items: start;
  }
  .main .shopCart .shopCart__items .item .item__bottom-menu.edit .item__cost {
    margin-bottom: 10px;
  }
  .main .shopCart .shopCart__items .item .item__bottom-menu.edit .item__actions {
    width: 100%;
  }
  .main .shopCart .shopCart__items .item .item__bottom-menu.edit .item__actions .actions__count {
    margin: 0 16px;
  }
  .main .shopCart .shopCart__bottomMenu {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    flex-direction: column;
    align-items: end;
    padding: 0;
  }
  .main .shopCart .shopCart__bottomMenu > * {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  }
  .main .shopCart .shopCart__bottomMenu .shopCart__sum {
    margin: 0;
    border-radius: 16px;
    width: 100%;
    padding: 16px;
    background-color: rgba(30, 30, 30, 0.4980392157);
  }
  .main .shopCart .shopCart__bottomMenu .shopCart__make-order {
    width: 100%;
    padding: 12px 16px;
    margin-top: 16px;
    border-radius: 16px;
  }
  .main .orders .order .order__header {
    flex-wrap: wrap;
  }
  .main .catalog .filters .block-header {
    gap: 0;
  }
  .main .catalog .filters .block-header .icon {
    margin: 0;
  }
}

/*# sourceMappingURL=index.css.map */
