@import "./themes/dark-theme";
//@import "./themes/light-theme";

* {
    box-sizing: border-box;
    &::selection {
        background-color: #0090e0;
        color: $text-primary-light;
    }
}

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: $text-primary-light;
    font-size: $paragraph-text;
    background-image: url("../images/body_background.jpg");
    background-position-y: 100vh;
    background-size: 100%;
    background-repeat: repeat-y;
    min-height: 100vh;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: $background-primary;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius: 5px;
    }
}

.header, .footer {
    background: $header-background;
    backdrop-filter: $blur;
    min-height: 70px;
    box-shadow: 0px 8px 40px black;
    .container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        min-height: 70px;
        padding: 5px $gap;
    }
}

.footer {
    .container {
        height: unset;
        padding-top: 0;
        flex-direction: column;
        .footer__menu {
            display: flex;
            justify-content: space-between;
            padding: $gap;
            width: 100%;
            .menu__links {
                .links__title {
                    margin-top: 0;
                    margin-bottom: $gap;
                }
                .links {
                    display: grid;
                    gap: 8px;
                }
            }
        }
        .footer__copyright {
            color: $text-secondary;
            min-height: 70px;
            display: flex;
            align-items: center;
        }
    }
}

.header {
    width: 100%;
    position: fixed;
    z-index: 999;

    .container {
        display: flex;
        justify-content: space-between;

        .header__logo {
            font-size: $heading-text-2;
            text-shadow: 0 20px 50px black;
            background: $gradient;
            background-size: 500%;
            -webkit-background-clip: text;
            color: rgba(255, 255, 255, 0.1);

            animation: gradient 10s linear infinite;
            font-weight: 700;
        }

        .header__avatar {
            display: flex;
            flex-direction: column;
            align-items: center;
            .avatar__image {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                cursor: pointer;
                object-fit: cover;
            }
        }

        .nav {
            .nav__link {
                margin: 0 8px;
            }
        }

        .nav__user-actions {
            .nav__link {
                margin: 0 8px;

            }
        }
    }
}

.header__bottomMenu {
    width: 1167px;
    margin: 0 auto;
    display: flex;
    justify-content: end;

    .menu {
        top: 70px;
        position: fixed;
        z-index: 998;
        flex-direction: column;
        justify-content: end;

        box-shadow: 0px 8px 40px $shadow;
        background: rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        padding: 8px;
        border-radius: 0 0 8px 8px;
        .menu__action {
            display: block;
            padding: 8px 0;
            border-bottom: 1px solid $border;
            &:last-child {
                border: none;
            }
        }
    }
    //.menu_hide {
    //    display: none;
    //}
    //.menu_show {
    //    display: flex;
    //}
}

.footer__description {
    margin: 0 auto;
}

@import "main";
@import "helloElement";
@import 'elements';

//@media (prefers-color-scheme: dark) {
//    body {
//        background-color: black;
//        color: white;
//    }
//}
//
//@media (prefers-color-scheme: light) {
//    body {
//        background-color: white;
//        color: black;
//    }
//}