.main {
    min-height: 75vh;
    width: 1200px;
    margin: 0 auto;
    padding: 70px $gap $gap;
    display: flex;
    flex-direction: column;

    @import "mainComponents/catalog";

    @import "mainComponents/releases";

    @import "mainComponents/news";

    @import 'mainComponents/faq';

    @import "mainComponents/authForm";

    @import "mainComponents/userComponents/shopCart";

    @import "mainComponents/aboutUs";

    @import "mainComponents/userComponents/orders";

    @import "mainComponents/userComponents/userProfile";

    @import "mainComponents/userComponents/userReleases";
}