* {
  box-sizing: border-box;
}
*::selection {
  background-color: #0090e0;
  color: #DFE1E5;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #DFE1E5;
  font-size: 16px;
  background-image: url("../images/body_background.jpg");
  background-position-y: 100vh;
  background-size: 100%;
  background-repeat: repeat-y;
  min-height: 100vh;
}

a {
  color: #6B9BFA;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
a:hover {
  color: #366ACF;
}
a:active {
  color: #375FAD;
}
a.active {
  color: #DFE1E5;
}

.header, .footer {
  background: rgba(30, 30, 30, 0.7);
  height: 70px;
}
.header .container, .footer .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  min-height: 70px;
  padding: 5px 16px;
}

.header {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  box-shadow: 0px 8px 40px black;
  backdrop-filter: blur(15px);
  position: fixed;
  z-index: 999;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .header__logo {
  font-size: 24px;
  text-shadow: 0 20px 50px black;
  background: linear-gradient(90deg, #e933ff, #00a0ff, #7700d5, #0021ff, #3574F0);
  background-size: 500%;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.1);
  animation: gradient 10s linear infinite;
  font-weight: 700;
}
.header .container .nav .nav__user-actions {
  width: 10%;
}
.header .container .nav .nav__link {
  margin: 0 8px;
}

.about-us {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position-x: 50vw;
  background-repeat: repeat-x;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .helloElement {
  width: 1100px;
}
.about-us .helloElement .helloElement__title {
  font-size: 65px;
  text-align: center;
  text-shadow: 0 0 20px black;
  color: #DFE1E5;
  margin-bottom: 50px;
}
.about-us .helloElement .helloElement__description {
  font-size: 24px;
  text-align: center;
  background: linear-gradient(90deg, #e933ff, #00a0ff, #7700d5, #0021ff, #3574F0);
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 4s linear infinite;
}

.main {
  padding: 16px;
  min-height: 86vh;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main .catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 64px;
}
.main .catalog .catalog__title {
  grid-column: span 3;
  background-color: rgba(45, 45, 45, 0.6);
  backdrop-filter: blur(15px);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .catalog .service {
  background-color: rgba(45, 45, 45, 0.6);
  padding: 16px;
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .catalog .service .service__title {
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .catalog .service .service__description {
  margin: 16px 0;
  color: #B4B8BF;
}
.main .catalog .service .service__cost {
  margin: 8px 0;
  color: #868A91;
}
.main .catalog .service .service__addToCart {
  background-color: #2d2d2d;
  color: #DFE1E5;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s;
}
.main .catalog .service .service__addToCart:hover {
  background-color: #366ACF;
}
.main .catalog .service .service__addToCart:active {
  background-color: #375FAD;
}
.main .releases {
  display: grid;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}
.main .releases .releases__title {
  grid-column: span 3;
  background-color: rgba(45, 45, 45, 0.6);
  backdrop-filter: blur(15px);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .releases .release {
  padding: 16px;
  background-color: rgba(45, 45, 45, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}
.main .releases .release .release__title {
  font-size: 20px;
  margin: 0;
  padding-bottom: 16px;
}
.main .releases .release .release__image {
  border-radius: 8px;
}
.main .releases .release .release__date {
  margin-top: 16px;
  color: #868A91;
}
.main .releases .release:first-child {
  margin-left: 0;
}
.main .releases .release:last-child {
  margin-right: 0;
}
.main .releases:before {
  position: absolute;
  width: 100vw;
  height: 70px;
  background: linear-gradient(black, rgba(0, 0, 0, 0));
}
.main .news .news__article {
  background-color: rgba(33, 33, 33, 0.35);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  padding: 16px;
}
.main .news .news__article .article__image {
  width: 100%;
  border-radius: 12px;
}
.main .news .news__article .article__date {
  margin-top: 5px;
  color: #868A91;
}
.main .form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  height: 86vh;
}
.main .form .form__label {
  color: #B4B8BF;
}
.main .form .form__input {
  box-sizing: border-box;
  width: 300px;
  margin: 8px 0;
  font-size: 18px;
  border: 2px solid #4E5157;
  border-radius: 4px;
  padding: 8px 6px;
  color: #DFE1E5;
  background-color: #2d2d2d;
}
.main .form .form__input:focus {
  border-color: #3574F0;
  outline: none !important;
}
.main .form .form__input_submit {
  cursor: pointer;
  color: #DFE1E5;
  border: none;
  background-color: #3574F0;
  transition: 0.2s;
}
.main .form .form__input_submit:hover {
  background-color: #366ACF;
}
.main .form .form__input_submit:active {
  background-color: #375FAD;
}

.footer__description {
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=style.css.map */
