.shopCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;

    .shop-cart__empty,
    .shop-cart__items {
        background: $blur-background;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }

    .shop-cart__items {
        padding: 16px 32px;

        .item {
            padding: 16px 0;
            border-bottom: 2px solid $border;
            &:last-child {
                border: none;
            }
            .item__title {
                display: flex;
                align-items: center;
                margin: 0;

                .span__border {
                    padding: 0 6px;
                }
            }

            .item__icon {
                margin-right: 16px;
            }

            .item__description {
                color: $text-general;
            }
            .item__bottom-menu {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .item__cost {
                    color: $text-secondary;
                    margin: 0;
                }

                .item__actions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .action {
                        margin: 0 8px;
                    }

                    >* {
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .shop-cart__empty {
        padding: 16px;
        .empty__title {
            margin: 0 0 16px;
        }
    }

    .shop-cart__bottomMenu {
        display: flex;
        align-items: center;
        margin-top: 16px;
        font-size: $paragraph-text;
        font-weight: 300;
        .shop-cart__sum {
            color: $text-general;
            margin: 0 32px 0 0;
        }
    }
}
