.shopCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;

    .shopCart__empty,
    .shopCart__items {
        background: $blur-background;
        backdrop-filter: $blur;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }

    .shopCart__items {
        padding: 16px 32px;

        .item {
            padding: 16px 0;
            border-bottom: 2px solid $border;
            &:last-child {
                border: none;
            }
            .item__title {
                display: flex;
                align-items: center;
                margin: 0;

                .span__border {
                    padding: 0 6px;
                }
            }

            .item__icon {
                margin-right: 16px;
            }

            .item__description {
                color: $text-secondary;
                margin-bottom: 10px;
            }
            .item__bottom-menu {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;


                .item__cost {
                    color: $text-general;
                    margin: 0;
                }

                .item__actions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    //width: min-content;
                    min-width: 70px;

                    .actions__change {
                        display: flex;
                        align-items: center;
                        margin: 0 8px;
                        .actions__count {
                            margin: 0 8px;
                            background-color: $text-general;
                            color: $background-primary;
                            border-radius: 50px;
                        }
                    }

                    >* {
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .shopCart__empty {
        padding: 16px;
        .empty__title {
            margin: 0 0 16px;
        }
    }

    .shopCart__bottomMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        font-size: $paragraph-text;
        font-weight: 300;
        .shopCart__sum {
            color: $text-primary;
            margin: 0 32px 0 0;
        }
        .shopCart__make-order {
            background-color: $blue-primary;
        }
    }
}
