.userRelease {
    .userRelease__title {
        font-size: $heading-text-2;
        display: flex;
        align-items: center;
        * {
            margin: 0;
        }
        .title__separator {
            color: $text-secondary;
            padding: 0 8px;
        }
    }
    .release {
        padding: $gap;
        background-color: $blur-background;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        backdrop-filter: $blur;
        width: 100%;
        margin: $gap 0;

        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: $gap;

        .release__header {
            width: 100%;
            .release__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: $gap;
                .title {
                    margin: 0;
                }
                .input {
                    width: 140px;
                }
            }
            .release__image {
                width: 100%;
                border-radius: $border-radius;
            }
            .release__type,
            .release__date,
            .release__duration,
            .release__about, {
                margin: 8px 0;
                color: $text-secondary
            }
        }
        .release__body {
            display: flex;
            flex-direction: column;
            .body__title {
                margin: 4px 0 8px;
            }
            .songList {
                margin: 0;
                display: grid;
                grid-template-columns: 20px 5fr 2fr 2fr 1fr;
                gap: 8px;
                padding: 0;
                .songList__title,
                .songList__duration,
                .songList__listens {
                    list-style: none;
                    padding: 8px;
                    color: $text-secondary;
                }
                .song {
                    display: grid;
                    grid-template-columns: 24px 5fr 2fr 2fr 1fr;
                    grid-column: span 7;
                    align-items: center;
                    padding: 8px 8px 8px 12px ;
                    background-color: $background-primary;
                    border-radius: $border-radius;
                    color: $text-general;

                    >* {
                        padding: 0;
                        margin: 0;
                    }
                    .song__duration,
                    .song__listens {
                        color: $text-secondary;
                    }
                    .song__actions {
                        justify-self: end;
                        padding: 0;
                        margin: 0;
                        height: 28px;
                    }
                    .song__body_editable {
                        .song__duration_input {
                            width: 90px;
                        }
                    }

                }
            }
        }
    }
}
.userReleases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .userReleases__title {
        grid-column: span 4;
        margin-bottom: 0;
    }
    grid-template-columns: repeat(4,1fr);
    grid-gap: $gap;
    .release {
        background-color: $blur-background;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        backdrop-filter: $blur;
        width: fit-content;
        margin: $gap 0;
        padding: $gap;
        display: grid;
        grid-gap: 8px;
        * {
            margin: 0;
        }
        .release__header {
            display: grid;
            grid-template-columns: max-content auto;
            gap: 20px;
            align-items: center;
            :last-child {
                justify-self: end;
            }
        }

        .release__image {
            width: 100%;
            border-radius: $border-radius;
        }
        .release__date,
        .release__about {
            color: $text-secondary;
        }
    }
}